.container {

    position: relative;

    .label {
        color: white;
        background-color: #0282F9;
        font-size: 25px;
        padding: 10px;
        position: absolute;
        top: 0;
        left: 0;
        transform: translateY(-50%);
    }

    .box {
        width: calc(100% / 6);
        padding: 15px;

        img {
            object-position: left top;
            object-fit: cover;
            width: 100%;
            height: 150px;
        }

        .title {
            color: white;
            text-transform: uppercase;
        }

        a {
            text-decoration: none;
            color: white;
        }
    }

    .bottom-btn {
        text-align: center;

        a{
            color: white;
            text-decoration: none;
        }

        .btn-blue {
            color: white;
            background-color: #0282F9;
            padding: 10px 40px;
            border: none;
            margin-bottom: 20px;
        }
    }
}
